<div class="row">
  <div class="col s4">
    <label class="center-block">Search:
      <input #searchBox id="search-box" (keyup)="search(searchBox.value)">
    </label>
  </div>
  <div class="input-field col s2">
    <select [ngModel]="selectedLimit" (ngModelChange)="limitChange($event)" name="limitSelect" materialize="material_select">
      <!-- <option *ngFor="let limit of limitOptions" [value]="limit.value">{{limit.name}}</option> -->
      <option [ngValue]="limit" *ngFor="let limit of limitOptions">{{limit.value}}</option>
    </select>
    <label>Limit</label>
  </div>
  <div *ngFor="let post of posts">
    <a class="btn-flat col s12" (click)="onSelect(post)">
      {{post.title}}
    </a>
  </div>
</div>
